<p style="color: green"><%= alert %></p>
<h3>Pending Enrollments</h3>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th class='w-15' scope="col">Batch</th>
      <th class='w-15' scope="col">Student</th>
      <th scope="col">Period</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'enrollments', enrollments: @pending_enrollments %>
  </tbody>
</table>
